*{

    padding: 0px;
    margin: 0px;

}

#navbar{
    display: flex;
    background-color: antiquewhite;
    width: 90%;;
    align-items: center;
    height: 50px;
    margin: auto;
    gap: 50px;
    margin-top: 25px;
}

#navbar > div{
    background-color: aquamarine;
     border-radius: 10px;
}

#groceries{
  
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    height: 500px;
    grid-gap:25px;
    margin:auto;
    margin-top: 25px;
}
