 *{
    margin: 0px;
    padding : 0px;
 }

 

#navbar{
    display: flex;
    background-color: springgreen;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: space-evenly;
       align-items: center;
    border: 1px solid transparent;
     width: 90%;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
}
#navbar a {
    text-decoration: none;
    color: navy;
    cursor: pointer;
    font-size: 20px;
  }
  #wallet{
    margin-left: -100px;
  }

#add-money{
    display: grid;
     width: 25%;
    margin: auto;
    margin-top: 55px;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#add-money input{
    margin:20px ;
    width: 75%;
     gap: 5px;
      padding: 10px;
      border-radius: 10px;
  
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}

#add-money > button{
    margin: 15px;
    padding: 10px;
    color: black;
    background-color: yellowgreen;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

